<div class="wrapper">
    <div class="artworkheader-bg">
        <div class="container">
            <div class="content-center">
                <h3 class="text-center">Specially Curated Self-Care Kits</h3>
                <h5 class="text-center">Leave time in your schedule to do the things you want to do</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-secondary">Filter Self-Care Boxes</a>
                <a *ngFor="let t of tags" routerLink="/pages/filterSelfCareBox/{{t.tagId}}"
                    class="list-group-item list-group-item-action">{{t.tagName}}</a>
            </div>
        </div>
        <div class="col">
            <form>
                <div class="row card-group" style="padding-right: 2%">
                    <div class="col-4" *ngFor="let selfCareBox of selfCareBoxes" style="padding-bottom: 3%">
                        <div class="card" style="width: 100%;height: 100%">
                            <img class="card-img-top" [src]="'http://localhost:8080/'+ selfCareBox.image" alt="Card image cap">
                            <div class="card-body">
                                <h6 class="card-title"> {{selfCareBox.name}}</h6>
                                <p class="card-text">{{selfCareBox.description}}</p>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-outline-dark"
                                        (click)="viewSelfCareBox(selfCareBox.selfCareBoxId)">
                                    View More Details </button>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <table class="table table-hover">-->
<!--                    <thead>-->
<!--                        <th scope="col">Image</th>-->
<!--                        <th scope="col">Name</th>-->
<!--                        <th scope="col">Description</th>-->
<!--                        <th scope="col">View details of self-care box</th>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                        <tr *ngFor="let selfCareBox of selfCareBoxes">-->
<!--                            <td>-->
<!--                                <img style="width:100px;height:60px;"-->
<!--                                [src]="'http://localhost:8080/'+ selfCareBox.image"/>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <ngb-highlight [result]="selfCareBox.name"></ngb-highlight>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <ngb-highlight [result]="selfCareBox.description"></ngb-highlight>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <button type="submit" class="btn btn-outline-dark" -->
<!--                                (click)="viewSelfCareBox(selfCareBox.selfCareBoxId)"> View Details </button>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
            </form>
        </div>
    </div>
</div>
